* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Overt;
    src: url(../fonts/Overt.ttf);
}

h2 {
    font-family: 'Overt', sans-serif;
}

h3 {
    font-family: 'Overt', sans-serif;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.linea {
    display: inline;
}

.bloque {
    display: block;
}