$col-prim: rgb(88, 24, 69);
$grad-prim: linear-gradient(180deg, rgba(88, 24, 69, 1) 50%, rgba(136, 41, 108, 1) 100%);

$col-sec: rgba(136, 41, 108, 1);
$grad-sec: linear-gradient(180deg, rgba(136, 41, 108, 1) 15%, rgba(88, 24, 69, 1) 100%);

$fuente: 'overt', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: overt;
    src: url(../fonts/overt.ttf);
}

.encont__titulo {
    display: none;
}

h2 {
    font-family: 'overt', sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

h3 {
    font-family: 'overt', sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.linea {
    display: inline;
}

.bloque {
    display: block;
}

@mixin tablet {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@include mobile {
    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
}