* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Kanit', sans-serif;;
}

h3 {
    font-family: 'Kanit', sans-serif;;
}

p {
    font-family: 'Kanit', sans-serif;;
}

.linea {
    display: inline;
}

.bloque {
    display: block;
}