.article__masprod{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .article__productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
}