footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: rgba(136,41,108,1);
    background: linear-gradient(180deg, rgba(136,41,108,1) 15%, rgba(88,24,69,1) 100%);
    font-family: 'Overt', sans-serif;
    font-weight: bold;

    & .footer__nav{
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include tablet{     
            &{
                display: none;
            }
        }

        & ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            margin: 0px;
        }

        & a{
            text-decoration: none;
            background-color: rgb(208, 143, 221);
            padding: 5px;
            border-radius: 5px;
            border-color: black;
            border-style: solid;
            border-width: 3px;
            color: rgba(0, 0, 0, 0.815);
            
            &:hover{
                color: rgba(255, 255, 255, 0.815);
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
            }
        }

        & ul li{
            font-family: 'Overt', sans-serif;
            font-weight: bolder;
            list-style-type: none;
            text-transform: uppercase;
            margin: 0.625rem;
        }
    }
}

.footer__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.contacto__mail{
    display: block;

    & a{
        color: white;
        text-decoration: none;
    }
}

.contacto__wsp{
    display: block;
    color: white;
}

.contacto__tel{
    display: block;
    color: white;
}

.links__iconos{
    display: flex;
    justify-content: space-evenly;
}

.footer__links{
    color:white;
}

@include tablet {
    
    .footer__logo{
        display: none;
    }
}

@include mobile {
    
    .footer__contacto{
        font-size: xx-small;

        & img{
            max-height: 75%;
        }
    }

    .footer__links{
        font-size: x-small;
    }

    .links__iconos a img{
        max-height: 75%;
    }
}