header {
    display: grid;
    grid-template-areas:
        "logo form login"
        "nav nav nav";
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: rgb(88,24,69);
    background: linear-gradient(180deg, rgba(88,24,69,1) 50%, rgba(136,41,108,1) 100%);
}

.header__logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-area: logo;
}

.header__form {
    grid-area: form;
    margin: 0.625rem;

    & .form__buscar{
        width: 300px;
        height: 32px;
        border-color: #000000;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;

        &:hover{
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }

    & .form__buscar-boton{
        padding: 0.3rem;
        font-weight: bolder;
        text-transform: uppercase;
        border: none;
        border-color: #000000;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: 75px;
        background-color: rgb(193, 115, 209);

        &:hover{
            color: #fff;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }
}

.header__login {
    grid-area: login;
    padding: 0.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(193, 115, 209);

    &:hover{
        color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    }
}

.navbar{
    grid-area: nav;
    margin: 0.625rem;

    & li{
        margin: 0.625rem;
    }
}

.nav__botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.secciones__texto{
    font-family: 'Overt', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(208, 143, 221);
    padding: 0.3rem;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: rgba(0, 0, 0, 0.815);
    text-align: center;
    margin: 0.625rem;
    margin-top: 0.625rem;

    &:hover{
        color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    }
}

.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(102, 37, 97);
    background-color: rgb(200, 78, 224);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1200px) {
    header {
      grid-template-areas:
        "logo login"
        "nav nav"
        "form form";
      grid-template-columns: 1fr 1fr;
    }
    
    .header__logo {
        margin-left: 0.5rem;
    }

    .header__nav{
        height: 15rem;

        & .secciones__texto{
            display: block;
            font-size: small;
        }
    }

    .header__form{

        & .form__buscar {
            width: 10rem;
            height: 30px;
        }

        & .form__buscar-boton{
            font-size: small;
        }
    } 
}