header {
    display: grid;
    grid-template-areas:
        "logo form login"
        "nav nav nav";
    justify-items: center;
    align-items: center;
    background: $col-prim;
    background: $grad-prim;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-area: logo;
    justify-self: right;
    margin-right: 1rem;
}

.header__form {
    grid-area: form;
    margin: 0.625rem;
    display: flex;
    gap: 5px;

    & .form__buscar {
        width: 250px;
        border-color: #000000;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 0.3rem;

        &:hover {
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }

    & .form__buscar-boton {
        padding: 0.3rem;
        font-weight: bolder;
        text-transform: uppercase;
        border: none;
        border-color: #000000;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: 100px;
        background-color: rgb(193, 115, 209);
        font-family: $fuente;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &:hover {
            color: #fff;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }
}

.login__contenedor {
    justify-self: left;
    align-self: center;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login__boton {
    grid-area: login;
    padding: 0.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(193, 115, 209);
    font-family: $fuente;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
        color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    }
}

.navbar {
    grid-area: nav;
    margin: 0.625rem;

    & li {
        margin: 0.625rem;
    }
}

.nav__botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.secciones__texto {
    font-family: $fuente;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(208, 143, 221);
    padding: 0.3rem;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: rgba(0, 0, 0, 0.815);
    text-align: center;
    margin: 0.625rem;
    margin-top: 0.625rem;

    &:hover {
        color: #fff;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    }
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(0, 0, 0);
    background-color: rgb(208, 143, 221);
    border-style: solid;
    border-width: 3px;
}

@include tablet {
    header {
        grid-template-areas:
            "logo login"
            "nav nav"
            "form form";
        grid-template-columns: 1fr 1fr;
    }

    .secciones__texto {
        font-size: small;
    }

    .header__logo {
        margin-left: 0.5rem;
    }

    .logo__imagen {
        width: 250px;
        height: 30px;
    }

    .login__boton {
        font-size: small;
    }

    .header__nav {
        height: 15rem;

        & .secciones__texto {
            display: block;
            font-size: small;
        }
    }

    .header__form {

        & .form__buscar-boton {
            font-size: small;
        }
    }
}

@include mobile {

    .logo__imagen {
        width: 150px;
        height: 20px;
    }

    .secciones__texto {
        font-size: x-small;
    }

    .login__boton {
        font-size: x-small;
    }

    .header__form {

        & .form__buscar-boton {
            font-size: x-small;
            width: auto;
        }
    }
}