.productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    &__tarjeta {
        display: grid;
        grid-template-rows: repeat(4,auto);
        align-items: center;
        justify-items: center;
        margin: 10px;

        &__producto {
            height: auto;
            width: 150px;
            margin: 0 auto;
        }

        & p {
            text-align: center;
            margin: 5px;
        }

        & a {
            text-decoration: none;
        }
    }
}

.tarjeta {
    &__boton {
        display: block;
        font-family: $fuente;
        font-weight: bolder;
        background-color: rgb(208, 143, 221);
        padding: 0.3rem;
        border-radius: 5px;
        border-color: black;
        border-style: solid;
        border-width: 3px;
        text-align: center;
        margin: 0.625rem;
        margin-top: 0.625rem;

        &:hover {
            color: #fff;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }

    &__eliminar{
        &:first-child {
        justify-self: end;
        }

        &:hover{
            filter: drop-shadow(1px 1px 0px rgba(1, 1, 1, 1));
        }
    }
}

@include tablet {
    .productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }

    .productos__tarjeta {
        font-size: small;
    }

    .tarjeta__boton {
        font-size: small;
    }
}

@include mobile {
    .productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }

    .productos__tarjeta {
        font-size: x-small;
    }

    .tarjeta__boton {
        font-size: x-small;
    }
}