.article__productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

    &__producto {
        height: auto;
        width: 150px;
    }

    & p {
        text-align: center;
        margin: 5px;
    }
}

@include tablet {
    .tarjeta {
        font-size: small;
    }
}