.article__productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.tarjeta{
    padding: 20px;
    text-align: center;

    &__producto{
        max-width: auto;
        height: 150px;
    }
}

@include tablet{
    .tarjeta{
        font-size: small;
    }
}